{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Loja Interna</title>
    <link rel="stylesheet" href="{% static 'css/homeee.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- NAVBAR -->
    <div class="topbar">
        <h2>Geladinhos Gourmet</h2>

        <div class="menu">
            <a href="/pagar/" class="menu-link">Pagar pedidos</a>
            <a href="/painel/" class="btn-admin">ADM</a>

            <div class="carrinho-icone" onclick="window.location='/carrinho/'">
                🛒 <span id="carrinho-count">0</span>
            </div>
        </div>
    </div>

    <!-- LISTA DE PRODUTOS -->
    <main class="produtos-container">

        {% for p in produtos %}
        <!-- AGORA com data-preco -->
        <article class="produto" data-preco="{{ p.preco }}">

            <img src="{{ p.imagem.url }}" alt="{{ p.nome }}">

            <div class="info">
                <h3>{{ p.nome }}</h3>

                {% if p.descricao %}
                    <p class="descricao">{{ p.descricao }}</p>
                {% endif %}

                <p class="preco">Preço: R$ {{ p.preco }}</p>
                <p class="estoque" data-estoque="{{ p.estoque }}">Estoque: {{ p.estoque }}</p>

                <div class="qtd-controle">
                    <button class="btn-menos">-</button>
                    <span class="qtd">1</span>
                    <button class="btn-mais">+</button>
                </div>
            </div>

            <button class="btn-add">Adicionar ao Carrinho</button>
        </article>
        {% endfor %}

    </main>

    <script src="{% static 'js/homee.js' %}"></script>
</body>
</html>
